@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

:root {
  --primary: #ff4d30;
  --black: #010103;
  --lightblack: #2d2d2d;
  --gray: #706f7b;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* navbar */

nav {
  padding: 40px 20px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 20px;
  z-index: 10;
  position: relative;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__img__wrapper {
  width: 145px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__links {
  display: flex;
  gap: 20px;
}

.nav__link:hover {
  color: var(--primary);
}

.nav__link {
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  transition: 300ms ease;
}

.nav__btns {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__btns__register {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  transition: 300ms ease;
}

.nav__btns__register:hover {
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.5);
  transition: 300ms ease;
}

.nav__menu {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 24px;
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f8f8f8;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease;
}

.menu__close {
  position: absolute;
  top: 44px;
  right: 32px;
  font-size: 20px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--black);
  cursor: pointer;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

/* header */

header {
  padding: 40px 20px;
}

.container {
  width: 100%;
  height: 100%;
  padding: 80px 0;
}

.header-bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.header__row {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
  z-index: 3;
  margin-top: 56px;
}

.header__text__subtitle {
  font-size: 20px;
  font-weight: 700;
}

.header__text__title {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
}
.header__text__para {
  color: var(--gray);
  margin-top: 12px;
  margin-bottom: 28px;
}

.header__text__btns {
  display: flex;
  gap: 16px;
}

.header__text__book {
  background-color: var(--primary);
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
}

.header__text__learn {
  background-color: var(--black);
  border: 2px solid transparent;
}

.header__text__btn {
  font-size: 16px;
  font-weight: 700;
  padding: 18px 30px;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 300ms ease;
}

.header__img__wrapper {
  position: absolute;
  z-index: 2;
  right: 0;
  width: 65%;
  margin-top: 56px;
  margin: 0 auto;
}

.header-img {
  width: 100%;
  height: auto;
}

/* features */

.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.features__subtitle {
  font-size: 24px;
  font-weight: 600;
}

.features__title {
  font-size: 42px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.features__list {
  display: flex;
  padding: 0 32px;
  margin-top: 36px;
  gap: 56px 120px;
}

.feature__img__wrapper {
  width: 172px;
}

.feature__title {
  font-size: 24px;
}

.feature__para {
  margin-top: 12px;
  color: var(--gray);
}

/* banner */

#banner {
  background-color: var(--lightblack);
  color: white;
}

.banner__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 20px;
  gap: 16px;
  text-align: center;
}

.banner__title {
  font-size: 52px;
  line-height: 1.2;
}

.banner__subtitle {
  font-size: 24px;
  font-weight: 400;
}

.color-primary {
  color: var(--primary);
}

/* Why Choose Us */

.choose__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.choose__img__wrapper {
  width: 100%;
}

.choose__img {
  width: 100%;
  height: 100%;
}
.choose__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.choose__text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.choose__text__subtitle {
  font-size: 22px;
  font-weight: 600;
}

.choose__text__title {
  font-size: 42px;
  line-height: 1.2;
}

.choose__text__para {
  margin-top: 12px;
  color: var(--gray);
}

.choose__text__btn {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 700;
  padding: 18px 30px;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 300ms ease;
  width: fit-content;
  background: var(--primary);
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.3);
}

.choose__features {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.choose__feature {
  display: flex;
  gap: 12px;
}

.choose__feature__img__wrapper {
  width: 110px;
  height: 110px;
}

.choose__feature__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.choose__feature__text__title {
  font-size: 24px;
}

.choose__feature__text__para {
  font-size: 15px;
  color: var(--gray);
}

/* Reviews */

.testimonials__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonials__subtitle {
  font-size: 22px;
  font-weight: 600;
}

.testimonials__title {
  font-size: 42px;
}

.testimonials__para {
  color: var(--gray);
  max-width: 700px;
  margin-top: 16px;
}

.testimonials__list {
  display: flex;
  margin-top: 80px;
  gap: 24px;
}

.testimonial {
  background: white;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.08);
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 56px;
  gap: 40px;
}

.testimonial__review {
  font-size: 22px;
  text-align: left;
}

.testimonial__info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.testimonial__info__img__wrapper {
  width: 72px;
  height: 72px;
  border-radius: 9999px;
  overflow: hidden;
}

.testimonial__info__img {
  width: 100%;
  height: 100%;
}

.testimonial__info__profile {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.testimonial__info__name {
  font-size: 18px;
}

.testimonial__info__location {
  font-size: 16px;
  font-weight: 400;
}

.testimonial__info__icon {
  margin-left: auto;
  font-size: 48px;
  color: var(--primary);
}

/* download */

.download__text {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  gap: 20px;
}

.download__text__title {
  font-size: 42px;
}

.download__text__para {
  color: var(--gray);
}

.download__text__links {
  display: flex;
  gap: 32px;
}

.download__text__link {
  width: 40%;
}

/* Footer */

footer {
  padding: 40px 20px;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
}

.footer__intro {
  width: 25%;
}

.footer__content {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__intro__title {
  font-size: 24px;
}

.footer__intro__para {
  color: var(--gray);
}

.footer__intro__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__intro__link,
.footer__company__link {
  color: var(--black);
  transition: 300ms ease;
}

.footer__intro__link:hover,
.footer__company__link:hover {
  color: var(--primary);
}

.footer__company__title,
.footer__hours__title,
.footer__email__title {
  font-size: 24px;
  text-transform: uppercase;
}

.footer__company__links,
.footer__hours__list,
.footer__email__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.footer__email__form__input {
  height: 48px;
  padding: 0 16px;
  outline: none;
  border: none;
  background-color: #ececec;
}

.footer__email__form__submit {
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  outline: none;
  color: white;
  background: var(--primary);
  border-radius: 4px;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  transition: 300ms ease;
}

/* mobile */

@media (max-width: 768px) {
  .header__text {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header__row {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .header-bg,
  .header__img__wrapper {
    display: none;
    z-index: 0;
  }
}

@media (max-width: 768px) {
  .feature {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .features__list {
    margin-top: 0;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .features__list {
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .features__row {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .choose__feature {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}

@media (max-width: 640px) {
  .testimonial {
    padding: 32px;
  }
}

@media (max-width: 640px) {
  .testimonial__review {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .footer__row {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .footer__content {
    width: 100%;
    text-align: center;
  }

  .footer__email__form {
    flex-direction: column;
    gap: 12px;
  }

  .footer__email__form__input {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .download__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .download__text {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
  }

  .download__text__links {
    justify-content: center;
    gap: 16px;
    flex-direction: column;
    margin: 0 auto;
  }
}

/* tablet */

@media (max-width: 1024px) {
  .nav__links,
  .nav__btns {
    display: none;
  }
}

@media (max-width: 1024px) {
  .nav__menu {
    display: block;
  }
}

@media (max-width: 1024px) {
  .features__list {
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media (max-width: 1024px) {
  .feature {
    width: 45%;
  }
}

@media (max-width: 1024px) {
  .testimonials__list {
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 1280px) {
  .footer__row {
    gap: 48px;
  }
}

@media (max-width: 1280px) {
  .footer__content {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .choose__content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;
  }
}

@media (max-width: 1024px) {
  .choose__text__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

@media (max-width: 1400px) {
  .container {
    padding: 40px 10px;
  }

  .nav__row {
    padding: 20px 10px;
  }

  .header__text {
    margin-top: 40px;
  }

  .features__row {
    padding: 0 10px;
  }
}

@media (max-width: 1400px) {
  .download__row {
    padding: 40px 20px;
  }

  .download__text {
    padding: 0 20px;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .download__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
    padding: 40px 20px;
  }

  .download__text {
    width: 100%;
    max-width: 550px;
    padding: 0 20px;

    .download__text__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      margin: 0 auto;

      .download__text__link {
        width: 80%;
        max-width: 300px;
      }
    }
  }
}
